{
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 180,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "semi": true,
  "plugins": ["prettier-plugin-css-order", "prettier-plugin-tailwindcss"]
}
